/* @import './base.css'; */

body {
  min-height: 94vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#f6f6f6 100%, #fff 100%);
  background-repeat: no-repeat;
  background-color: #f6f6f6;
}

#app {

}

.pagePartDiv{
  border: 1px solid rgb(62, 79, 93);
  display: table;
  min-width: 1024px;
  width: 92%;
  margin: 30px auto 6px auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #222;
}

.pagePartDiv .pagePartBar{
  padding: 4px 12px 4px 12px;
  margin:-1px -1px 0px -1px;
  height: 32px;
  border-radius: 4px;
  background-color: rgb(62, 79, 93);
  text-align: left;
  cursor: pointer;
  
}
.pagePartDiv .pagePartBar .title{
  float: left;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.pagePartDiv .pagePartContentFrame{
  padding:12px;
  text-align: left;
}


.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  float: right;
  margin-right:10px;
}
.aUp {
  margin-top: 11px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.aDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}