/* @import './base.css'; */

body {
  min-height: 94vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#f6f6f6 100%, #fff 100%);
  background-repeat: no-repeat;
  background-color: #f6f6f6;
}

#app {

}

.pagePartDiv{
  border: 1px solid rgb(62, 79, 93);
  display: table;
  min-width: 1024px;
  width: 92%;
  margin: 30px auto 6px auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #222;
}

.pagePartDiv .pagePartBar{
  padding: 4px 12px 4px 12px;
  margin:-1px -1px 0px -1px;
  height: 32px;
  border-radius: 4px;
  background-color: rgb(62, 79, 93);
  text-align: left;
  cursor: pointer;
  
}
.pagePartDiv .pagePartBar .title{
  float: left;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.pagePartDiv .pagePartContentFrame{
  padding:20px;
  text-align: left;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  float: right;
  margin-right:10px;
}
.aUp {
  margin-top: 11px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.aDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.actionFormFrame{
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.85);
  text-align:center;
  overflow-y: auto;
}
.actionFormBox{
  display: inline-block;
  margin: 10vh auto 2vh auto;
  min-width: 300px;
  width: 40%;
  max-width: 800px;
  min-height: 50px;
  padding:18px; 
  background-color: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-radius: 0px;
  box-shadow: 1px 8px 16px #666; 
  text-align: left;
}
.actionFormBox .hl{
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  color: #000;
  padding: 0 0 8px 0;
}

.actionFormBox .ipt_hl{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000;
  padding: 12px 10px 4px 0px;
}

.actionFormBox select{
  padding: 6px;
  width: 98%;
  /* min-width: 100px; */
  background-color: #fff;
  font-size: 15px;
  box-shadow: 1px 1px 2px #666; 
  border: 0.5px solid #555;
}

.actionFormBox .btnFrame{
  padding: 22px 0 10px 0;
  text-align: center;
}
.actionFormBox .btnFrame button{
  min-width: 120px;
  padding: 6px 12px 6px 12px;
  margin: 0px 10px 0px 10px;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(62, 79, 93);
  color:#fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.actionFormBox .btnFrame button:hover{
  box-shadow: 1px 1px 2px #444;
}